.container {
    width: auto;
    height: 100%;
    background-color: #222222;
    margin: 0.2rem 0 0.2rem 0.2rem;
    border-radius: 0.5rem;
    grid-row: 1/-1;
    grid-column: 1/4;
    // aspect-ratio: 1/1;
}